<template>
  <div class="credentials">
    <BiometricCom/>
  </div>
</template>

<script>
// @ is an alias to /src
import BiometricCom from '@/components/BiometricCom.vue'

export default {
  name: 'Biometric',
  components: {
BiometricCom  }
}
</script>