<template>
  <div class="credentials">
    <CredentialsCom/>
  </div>
</template>

<script>
// @ is an alias to /src
import CredentialsCom from '@/components/CredentialsCom.vue'

export default {
  name: 'Credentials',
  components: {
    CredentialsCom  
    }
}
    
</script>