<template>
  <div class="dashboard">
    <DashboardCom/>
  </div>
</template>

<script>
// @ is an alias to /src
import DashboardCom from '@/components/DashboardCom.vue'

export default {
  name: 'Dashboard',
  components: {
    DashboardCom
  }
}
</script>