<template>
  <v-container>
    <v-row>
      <v-col class="mb-4" offset-sm="5">
        <v-img
          :src="require('../assets/reader.gif')"
          class="my-3"
          contain
          width="200"
        />
      </v-col>
      </v-row>

      <v-row class="text-center">
        <v-col class="mb-4">
          <h1 class="display-2 font-weight-bold mb-3">
            Biometric
          </h1>

          <p class="subheading font-weight-regular">
            For help and collaboration with other Vuetify developers,
            <br>please join our online
            <a
              href="https://community.vuetifyjs.com"
              target="_blank"
            >Discord Community</a>
          </p>
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'BiometricCom',

    data: () => ({

    }),
  }
</script>
