<template>
  <v-container
        fluid
        fill-height
      >
        <v-layout
          align-center
          justify-center
        >
          <v-flex
            xs12
            sm8
            md4
          >
            <v-card class="elevation-10">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Ewise</v-toolbar-title>                
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="User"
                    name="User"
                    prepend-inner-icon="mdi-account"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    label="Password"                  
                    name="Password"
                    prepend-inner-icon="mdi-textbox-password"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
</template>

<script>
  export default {
    name: 'CredentialsCom',

    data: () => ({

    }),
  }
</script>
